@import 'icons';

$colorRed: #fa0606;
$menuGradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

.vjs-nmd-skin {
  .vjs-control-bar {
    height: 45px;
    background: transparent;

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: -30px;
      left: 0;
      height: 75px;
      width: 100%;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0));
    }
  }

  .vjs-menu {
    bottom: 1em;
  }

  .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    background: transparent;
    background-image: $menuGradient;
  }

  .vjs-control {
    width: 3em;
    margin: 0 0.5em;

    &:before {
      font-size: 14px;
      line-height: 30px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &:hover,
    &:focus {
      &:before,
      &:focus {
        text-shadow: none;
      }
    }
  }

  .vjs-button {
    opacity: 0.9;
    transition: opacity .15s ease-out;

    &:hover {
      opacity: 1;
    }
  }

  .vjs-volume-menu-button:before,
  .vjs-fullscreen-control:before {
    width: 20px;
  }

  .vjs-vol-0.vjs-vol-2:before {
    content: "\f105";
  }

  .vjs-captions-button {
    display: none;
  }

  .vjs-volume-level {
    color: $colorRed;
    background-color: $colorRed;
    text-shadow: none;
  }

  .vjs-progress-control {
    order: 1;
    padding-bottom: 1.5em;
  }

  .vjs-play-progress {
    background-color: $colorRed;
    color: $colorRed;

    &:before {
      top: -0.2em;
      font-size: 1.2em;
    }
  }

  .vjs-progress-holder {
    height: 0.5em;
  }

  .vjs-progress-control:hover .vjs-progress-holder {
    font-size: 1.2em;
  }

  .vjs-progress-control:hover .vjs-time-tooltip,
  .vjs-progress-control:hover .vjs-mouse-display:after,
  .vjs-progress-control:hover .vjs-play-progress:after {
    font-size: 0.8em;
  }

  .vjs-fullscreen-control,
  .vjs-share-control {
    margin-left: 10px;
  }

  .vjs-play-control {
    margin: 0 10px;
  }

  .vjs-menu-button-popup.vjs-volume-menu-button-vertical {
    .vjs-menu {
      left: -0.5em;
    }
  }

  // Resolution switcher button
  .vjs-resolution-button {
    .vjs-menu .vjs-menu-content {
      left: -52px;
      width: auto !important;
      min-width: 80px;
      max-height: calc(100vh - 4em);
      background: transparent;
      background-image: $menuGradient;
    }

    .vjs-menu li {
      font-size: 1.1em;
      padding: 0.5em 0;
      letter-spacing: 0.4px;

      &:hover, &.vjs-selected {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
      }

      &.vjs-selected:after {
        margin-left: 12px;
        margin-right: 2px;
      }
    }

    &:before {
      content: "";
      background: transparent center no-repeat;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDIyIDE2Ij4gICAgPHBhdGggZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAxYzAtLjU1Mi40NC0xIDEuMDAyLTFoMTkuOTk2QTEgMSAwIDAgMSAyMiAxdjE0YzAgLjU1Mi0uNDQgMS0xLjAwMiAxSDEuMDAyQTEgMSAwIDAgMSAwIDE1VjF6bTEwLjY4MiAxMUg5LjAzNFY4LjU3MUg1LjgyVjEySDQuMTdWNEg1LjgydjMuMjQyaDMuMjE0VjRoMS42NDh2OHptMS43NzcgMFY0aDIuNDYyYy43MDMgMCAxLjMzMi4xNTggMS44ODcuNDc1LjU1NS4zMTcuOTg4Ljc2OCAxLjMgMS4zNTIuMzExLjU4NC40NjcgMS4yNDguNDY3IDEuOTkydi4zNjhjMCAuNzQzLS4xNTMgMS40MDUtLjQ1OSAxLjk4M2EzLjI4NiAzLjI4NiAwIDAgMS0xLjI5NCAxLjM0NmMtLjU1Ny4zMi0xLjE4NS40OC0xLjg4NS40ODRIMTIuNDZ6bTEuNjQ5LTYuNjY1djUuMzRoLjc5N2MuNjQ0IDAgMS4xMzctLjIxIDEuNDc4LS42MzEuMzQtLjQyMS41MTQtMS4wMjQuNTIyLTEuODA4di0uNDIzYzAtLjgxMy0uMTY5LTEuNDMtLjUwNi0xLjg0OS0uMzM3LS40Mi0uODMtLjYyOS0xLjQ3OC0uNjI5aC0uODEzeiIvPjwvc3ZnPg==);
      height: 30px;
    }

    .vjs-resolution-button-label {
      display: none;
    }
  }

  .vjs-current-time,
  .vjs-duration {
    display: block;
    width: auto;
    margin: 0;
    font-size: 1.2em;
    line-height: 30px;
  }

  &.vjs-live {
    .vjs-current-time,
    .vjs-duration {
      display: none;
    }
  }

  .vjs-remaining-time {
    display: none;
  }

  .vjs-duration {
    order: 2;
  }

  .vjs-share-control {
    order: 3;
    cursor: pointer;
  }

  .vjs-resolution-button {
    order: 4;
  }

  .vjs-fullscreen-control {
    order: 5;
  }

  &.vjs-fullscreen .vjs-fullscreen-control:before {
    font-size: 2.4em;
  }

  .vjs-live-display {
    display: flex;
    font-size: 0;

    &:before {
      display: block;
      content: '';
      width: 42px;
      background: transparent center no-repeat;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDQyIDEwIj4gICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik0xNC45NCA4LjM1M2g0LjM1NFYxMGgtNi40MDVWLjA0N2gyLjA1djguMzA2ek0yMy4xNSAxMEgyMS4xVi4wNDdoMi4wNVYxMHptNi4wNzktMi40NjhMMzEuNDg0LjA0N2gyLjI4NEwzMC4zMDIgMTBoLTIuMTRMMjQuNzEuMDQ3aDIuMjc2bDIuMjQzIDcuNDg1em0xMS45NjMtMS44NDVoLTMuOTM3djIuNjY2aDQuNjIxVjEwaC02LjY3MlYuMDQ3aDYuNjU4djEuNjYxaC00LjYwN1Y0LjA4aDMuOTM3djEuNjA3eiIvPiAgICAgICAgPHBhdGggZmlsbD0iI0ZBMDYwNiIgZD0iTTQgOWE0IDQgMCAxIDAgMC04IDQgNCAwIDAgMCAwIDh6Ii8+ICAgIDwvZz48L3N2Zz4=);
    }
  }

  .vjs-download-button-control {
    order: 4;
    height: 1.6em;
    margin-top: auto;
    margin-bottom: auto;
  }

  &.vjs-replay {
    .vjs-play-control:before {
      content: "\f116";
    }
  }

  /**
   * Audio
   */
  &.vjs-audio {
    .vjs-big-play-button,
    .vjs-fullscreen-control {
      display: none;
    }

    &, .vjs-control-bar {
      height: 32px;
      padding: 0 0 4px;
    }

    .vjs-control-bar {
      display: flex;
    }

    .vjs-progress-control {
      padding: 0;
    }

    .vjs-time-tooltip,
    .vjs-mouse-display:after,
    .vjs-play-progress:after {
      top: -13px;
      padding: 1px 8px;
    }

    .vjs-play-progress:after {
      top: 6px;
    }
  }

  // Ad playback
  .vjs-ad-playing.vjs-ad-playing {
    .vjs-progress-control {
      pointer-events: none;
    }
  }

  // Ad loading
  .vjs-ad-playing.vjs-ad-loading {
    .vjs-loading-spinner {
      display: block;
    }
  }
  .vjs-selected {
    &::after {
      content: '';
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0MC42MDggMjQwLjYwOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQwLjYwOCAyNDAuNjA4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4Ij4KPHBhdGggZD0iTTIwOC43ODksMjkuOTcybDMxLjgxOSwzMS44Mkw5MS43NjMsMjEwLjYzN0wwLDExOC44NzZsMzEuODE5LTMxLjgybDU5Ljk0NCw1OS45NDJMMjA4Ljc4OSwyOS45NzJ6IiBmaWxsPSIjRkZGRkZGIi8+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
      width: 12px;
      height: 10px;
      margin-left: 15px;
      padding-left: 12px;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.9;
    }
  }

  .vjs-menu li {
    text-align: left;
    padding-left: 19px !important;
  }

  .vjs-big-play-button {
    height: 55px;
    width: 80px;
    border: 0;
    background-color: #000 !important;
    opacity: 0.6;
    transition: opacity .15s ease-out;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      background-color: #000;
      opacity: 0.6;
    }

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .video-js:hover .vjs-big-play-button, .vjs-big-play-button:focus {
    background-color: #000 !important;
    opacity: 0.6;
  }

  @media (max-width: 349px) {
    .vjs-current-time,
    .vjs-duration {
      display: none;
    }
  }

  @media (max-width: 319px) {
    .vjs-control {
      width: 2em;
    }
  }

  @media (max-width: 249px) {
    .vjs-progress-control,
    .vjs-live-control {
      display: none;
    }

    .vjs-control-bar {
      justify-content: space-between;
    }
  }

  @media (max-width: 169px) {
    .vjs-resolution-button {
      display: none;
    }
  }
}
